* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

li {
  list-style-type: none;
  line-height: 36px;
}

li:hover {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  cursor: pointer;
}

ul {
  margin-bottom: 0;
}

.btn-hover-warning:hover {
  color: #212529 !important;
  background-color: #fb3 !important;
  border-color: #fb3 !important;
}

@media screen and (max-width: 992px) {
    .brand-bar {
        text-align: center;
    }
}

.pricing {
  width: 350px;
  height: 459px;
  background-color: #333333;
}

.pricing-popular {
  width: 350px;
  height: 494px;
  background-color: #333333;
}

.pricing-line-top {
  height: 1px;
  width: 350px;
  background-color: rgba(124, 124, 124, 0.603);
}

.pricing-line-down {
  height: 4px;
  width: 350px;
  background-color: #fb3
}

.pricing-line-down-popular {
  height: 39px;
  width: 350px;
  color: #ffffff;
  background-color: #fb3;
  text-transform: uppercase;
}

.pricing-list {
  width: 350px;
  background-color: #ffffff;
}

.coments {
  width: 270px;
  height: 125px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.coments-arrow {
  background-color: #f5f5f5;
  width: 20px;
  height: 20px;
  margin-left: 25px;
  margin-top: -10px;
  transform: rotate(45deg);
}

.coments-photo {
  width: 270px;
  display: flex;
  margin-top: 10px;
}

.custom-bg {
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: darken;
  background-image: url(/MDB-Free_4.12.0/img/u25_state0.jpg);
  height: 324px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}



